In [11]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("tv_shows.csv")
df.head(10)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1
5,5,The Office,2005,16+,8.9,81%,1,0,0,0,1
6,6,Black Mirror,2011,18+,8.8,83%,1,0,0,0,1
7,7,Supernatural,2005,16+,8.4,93%,1,0,0,0,1
8,8,Peaky Blinders,2013,18+,8.8,92%,1,0,0,0,1
9,9,Avatar: The Last Airbender,2005,7+,9.2,100%,1,0,0,0,1

In [12]:
df.tail(10)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
5601,5601,Disney Junior Music Nursery Rhymes,2017,all,6.6,NaN,0,0,0,1,1
5602,5602,Bug Juice: My Adventures at Camp,2018,NaN,7.2,NaN,0,0,0,1,1
5603,5603,Disney Insider,2012,NaN,NaN,NaN,0,0,0,1,1
5604,5604,Lost Treasures of the Maya,2019,NaN,NaN,NaN,0,0,0,1,1
5605,5605,Awesome Animals,2013,NaN,NaN,NaN,0,0,0,1,1
5606,5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1

In [18]:
df_title = df.set_index("Title")
df_title.head()

,Unnamed: 0,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
Title,,,,,,,,,,
Breaking Bad,0,2008,18+,9.5,96%,1,0,0,0,1
Stranger Things,1,2016,16+,8.8,93%,1,0,0,0,1
Money Heist,2,2017,18+,8.4,91%,1,0,0,0,1
Sherlock,3,2010,16+,9.1,78%,1,0,0,0,1
Better Call Saul,4,2015,18+,8.7,97%,1,0,0,0,1

In [21]:
df_title.loc[:'Breaking Bad']

,Unnamed: 0,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
Title,,,,,,,,,,
Breaking Bad,0,2008,18+,9.5,96%,1,0,0,0,1

In [23]:
df_year = df.set_index("Year")
df_year.head()

,Unnamed: 0,Title,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
Year,,,,,,,,,,
2008,0,Breaking Bad,18+,9.5,96%,1,0,0,0,1
2016,1,Stranger Things,16+,8.8,93%,1,0,0,0,1
2017,2,Money Heist,18+,8.4,91%,1,0,0,0,1
2010,3,Sherlock,16+,9.1,78%,1,0,0,0,1
2015,4,Better Call Saul,18+,8.7,97%,1,0,0,0,1

# Colocar os filmes por ordem so ano, do mais antigo para o mais recente

In [28]:
df_year_sorted = df_year.sort_values(by = "Year", inplace = False, ascending = False)
df_year_sorted.head(10)

,Unnamed: 0,Title,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
Year,,,,,,,,,,
2020,2537,Duncanville,16+,5.6,89%,0,1,0,0,1
2020,671,"Coronavirus, Explained",NaN,7.8,NaN,1,0,0,0,1
2020,2037,Little Fires Everywhere,18+,7.7,77%,0,1,0,0,1
2020,1064,The Ghost Bride,18+,5.8,NaN,1,0,0,0,1
2020,155,The Stranger,16+,7.3,89%,1,0,0,0,1
2020,1063,Babies,NaN,6.9,67%,1,0,0,0,1
2020,157,Into the Night,18+,7.2,83%,1,0,0,0,1
2020,356,The Trials of Gabriel Fernandez,18+,8.2,80%,1,0,0,0,1
2020,2033,Mrs. America,18+,7.5,96%,0,1,0,0,1
2020,2332,9-1-1: Lone Star,16+,6.4,NaN,0,1,0,0,1

In [29]:
df_year_sorted.tail(10)

,Unnamed: 0,Title,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
Year,,,,,,,,,,
1947,5039,Television Playhouse,NaN,NaN,NaN,0,0,1,0,1
1945,5442,The Wackiest Works of Tex Avery,NaN,NaN,NaN,0,0,1,0,1
1943,4767,Casper and Friends,7+,NaN,NaN,0,0,1,0,1
1934,2446,The Three Stooges,all,8.6,NaN,0,1,0,0,1
1932,4711,Betty Boop,all,NaN,NaN,0,0,1,0,1
1931,3328,The Little Rascals Classics,NaN,NaN,NaN,0,1,0,0,1
1914,1854,Born To Explore,NaN,NaN,NaN,1,0,0,0,1
1904,4701,History of Westinghouse,NaN,NaN,NaN,0,0,1,0,1
1901,4652,Space: The New Frontier,NaN,NaN,NaN,0,0,1,0,1
1901,4679,Gods & Monsters with Tony Robinson,NaN,NaN,NaN,0,0,1,0,1

# Em quantos anos diferentes se realizaram filmes?

In [34]:
list_year = df.Year.unique()
num_year = len(list_year)
print('foram realizados filmes em', num_year,'anos diferentes' )

foram realizados filmes em 81 anos diferentes